/* Import and use a font */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* Using a color/background*/
body {
    background-color: rgb(110, 209, 216);
    --main-color: #322424;
}

/* Using RGB, decoration, and align */

.header {
    color: rgb(235, 232, 228);
    text-decoration: underline; /* Underline text */
    text-align: center; /* Center text */
}

input[type="text"] {
    padding: 10px;
}


/* Using Hex */
p {
    color: #ebe7e0;
}

/* Using hsl */
p {
    hsl(120, 100%, 50%);
}

/* color */
h2 {
    color: color(display-p3 1 1 1);
}

* {
    box-sizing: border-box;
}


/* color-mix */
h3 {
    color: color-mix(in srgb, plum 50%, purple);
}

/* CSS variable with fallback */
body {
    color: var(--main-color, rgb(0, 0, 0));
}

/* 1.5 times the size of the parent element's font, 1 use of relative units */
p {
    font-size: 1.5em; 
}

/* second use of relative units */
#summary {
    font-size: 1.1vh; 
}

/* third use of relative units */
li {
    font-size: 1vmin; 
}

/* 3 uses of absolute units  to customize button size*/
button {
    width: 150px;
    height: 150px;
    padding: 30px;
}

/* Longhand margin notation */

div {
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}

/* Longhand padding notation */

div {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

/* Borders */
div {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
}


/* Makes the div a block-level element, sets max and min widths, and sets the position to be relative */
div {
    display: block; 
    max-width: 500px;
    min-width: 300px;
    position: relative;
}

 /* Uses display: none on span, and sets the position to be absolute */
span {
    display: none;
    position: absolute;
}

/* Shorthand padding notation */

form {
    padding: 10px 20px 10px 20px;
}

/* Shorthand margin notation */

form {
    margin: 10px 20px 30px 40px;
}

/* Auto margin notation */

img {
    margin: auto;
}

h1, h2, h3 {
    margin-top: 0;
}

/* Descendant Combinator */
nav ul {
    list-style-type: none;
}

/* Child Combinator */
body > div {
    padding: 20px;
}

/* General sibling combinator */
h1 ~ p {
    font-size: 1.25em;
}

/* Adjacent sibling combinator */
h1 + p {
    font-size: 1.25em;
}

/* Combining Two Selectors */
p.container {
    font-weight: bold;
}

/* Changes the a:hover to red */
a:hover {
    color: red; 
}

/* Changes the button background color to blue when it's being activated (clicked) */
button:active {
    background-color: rgb(67, 169, 79); 
}

/* Enable Flexbox, distribute items evenly, and center them vertically */
.container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    flex-direction: row;

}

/* Enable Grid, Create three equal columns, Add gap between grid items */
.boxboxbox {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    align-items: start;
}

h1:has(+ p) {
    margin-bottom: 0;
  }

  nav {
    background-color: #333;

    ul {
        list-style-type: none;

        li {
            display: inline-block;
            margin-right: 20px;
        }
    }
}


@media (max-width: 600px) {
    body {
        background-color: rgb(167, 205, 217); 
    }
}  


